table {
    border-collapse: collapse;
    border: 1px solid rgb(69, 91, 165);
}
thead {
    background-color: lightblue;
    font-weight: 700;
}
table th, table td {
    padding: 10px;
    text-align: right;
}